@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 95vh;
}

.container {
  display: flex;
  align-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
 
  font-family: "Nunito", sans-serif;
  padding: 0 20px;
  gap: 20px;
}

.card-container {
  display: flex;
  width: 600px;
  height: auto;
  background: #ffff;
  border-radius: 2px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
  margin: 50px 10px 0px 10px;
}

.header {
  border-right: 1px solid #adddad;
}

.header,
.descripcion {
  padding: 20px;
  text-align: center;
}

.header a {
  position: relative;
  display: block;
}

.header img {
  border-radius: 50%;
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.06);
  margin: 20px 30px;
  transition: 0.2s;
}

.header a:hover img {
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1);
}

.header h2 {
  color: #f0522a;
}

.header h4 {
  margin-bottom: 20px;
}

.descripcion {
  position: relative;
}

.descripcion p {
  margin: 20px 30px;
}

.descripcion .social {
  margin-top: 25px;
}

.descripcion .social a {
  display: inline-block;
  padding: 0 15px;
  color: #f0522a;
}

img {
  width: 200px;
  height: 200px;
}

@media (max-width: 640px) {
  .card-container {
    display: block;
    width: 450px;
  }
  .header {
    padding: 20px 20px 5px 20px;
    border: none;
  }
  .descripcion {
    padding: 5px 20px 20px 20px;
    background: transparent;
  }
  .header h4 {
    margin: 0;
  }
}
